[lang="zh"] h1 {
  font-family: "Noto Sans", sans-serif;
}

@media only screen and (min-width: 768px) {
  .wImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.banner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.eventimg {
  width: 100%;
}

.container {
  max-width: 1000px;
  width: 100vw;
  margin: 0 auto;
}

#body {
  background-color: #2e2e2e;
}
